@page "/Jugador/Index"

@inject JugadoresService jugadoresService
@inject NavigationManager navigationManager

<PageTitle>Registro de Jugadores</PageTitle>
<div class="container">
	<div class="card shadow-lg">

		@*Header*@
		<div class="card-header space-between">
			<h5 class="card-title">Registro de Jugadores</h5>
			<a href="/Jugador/Crear" class="btn btn-primary"><span class="bi bi-plus-square-fill-nav-menu mt-3"></span>Crear</a>
		</div>
		
		@*Body*@
		<div class="card-body">

			@*Labels*@
			<div class="row">

			</div>

		</div>
	</div>
</div>

@code {

}
